body{
    margin: 0;
    background-color: rgba(0, 0, 0, 1);
}

h1{
    color: #fff;
}

.box-sign-in{
    margin-top: 5%;
}
div.box-sign-in:hover{
    background-color: rgba(0, 0, 0, .7  );
    
}
div .input-field .prefix{
    color: white;
}

#modal1 {  
    border: 1px solid white;
}